@import "tailwindcss";

@theme {
  --color-neon: #00f3ff;
  --color-dark: #000000;
  --color-card: #0a0a0a;
}

/* Forçar Reset Total */
@layer base {
  *, ::before, ::after {
    border-color: theme(--color-white / 10%);
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-white antialiased m-0 p-0;
    overflow-x: hidden;
  }
}

/* Utilitários Extras */
.shadow-neon {
  text-shadow: 0 0 10px rgba(0, 243, 255, 0.5);
}

::-webkit-scrollbar {
  display: none;
}